.bg-box {
  height: 1080px;
  width: 1920px;
  background-color: green;
  background-image: url(./image/green-png-44873.png), url(./image/lamp-png-34914.png), url(./image/67657657657.png), url(./image/donut.png), url(./image/pole-zelen-trava-dom-derevya.png);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
  background-position: 0px 760px, 0px 0px, 0px, 1820px, 635px;
  background-size: 400px, 50px, 100px, 100px, 650px;
}
